*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
body{
    padding: 0.1rem;
    
}
.HomePage{
    background-color: rgb(255, 255, 255);
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    background-color: rgb(0, 0, 0);

}

.logoAndName{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    /* background-color: red; */
    margin-left: 3rem;

}

.logo img{
    width: 6rem;
}
.logo a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #333333;
    color: rgb(191, 187, 187);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.3rem;
    padding-right: 8rem;
    
}
.navbar a:hover{
    color:#2f4a85;
    color:#0d41b2;
}

.navbar a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    color: #b3b1b1;

    
}


.talk{
    border: none;
    border-radius: 0.375rem;
    background-color: #6366F1;   /* for white theme */
    background-color: #0a0c9a;
    margin-right: 3rem;
    padding: 0.75rem 1.5rem;
}
.talk a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;

}

.talk:hover{
    background-color: #5254f8;
    background-color: #494cfa;
}

/* .hero{
    width: 100%;
    height: 88vh;
    background-color: #636466;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro img{
    width: 100%;
    height: 100%;
}
.intro{
    background-image: url("img2.jpg");
    background-position: center;
    background-size: cover;
    height: 80%;

} */
