#counterLabel{
    width: 100%;
    display: block;
    text-align: center;
    color: green;
    font-size: 60px;

}
#container {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 0 30px; /* Adjust margin to control space between buttons */
  }

#increaseButton {

    background-color: rgb(208, 204, 7);
    
}
#decreaseButton{
    background-color: rgb(208, 204, 7);


}
#resetButton {
    background-color: rgb(124, 124, 116);
    color: white;

}
